{
    "plugins": [
        "object-to-json-parse",
        "transform-remove-console",
        "@babel/plugin-transform-async-to-generator"
    ],
    "presets": [
        "@babel/preset-env",
        "minify"
    ]
}
